.dialog{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 20;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    transition: all .25s ease;
    opacity: 1;
}

.popup-content{
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 444px;
    transform: translateY(-50%) translateX(-50%);
    background-color: #ffffff;
    padding: 32px;
    box-sizing: border-box;
}
.popup-main-content{
    width: 380px;
    height: 80px;
    border-bottom: 1px solid #b8bcc3;
    display: flex;
}
.icon-popup{
    align-items: center;
    background-image: url('../../img/Sprites.64af8f61.svg');
    background-repeat: no-repeat;
    background-position: -592px -456px;
    min-width: 48px;
    min-height: 48px;
	width: 48px;
	height: 48px;
}
.description-popup{
    font-size: 13px;
    padding: 12px 0px 0px 16px;
    max-width: calc(100% - 48px);
}
.popup-footer{
    display: flex;
    margin-top: 20px;
}