.dialog{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 15;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    transition: all .25s ease;
    opacity: 1;
}  
.dialog-content{
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    height: 625px;
    width: 900px;
    transform: translateY(-50%) translateX(-50%);
    background-color: #ffffff;
}
.dialog-header{
    display: flex;
    height: 73px;
    width: 100%;
}
.label-input{
    margin-bottom: 4px;
    font-family: Bold-NotoSans;
    font-size: 12px;
}

.input-space{
    padding-bottom: 12px;
}

.dialog-header-title{
    width: 822px;
    height: 100%;
    padding: 20px 12px 20px 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.dialog-title{
    font-family: Bold-NotoSans;
    font-size: 24px;
}

.type-select{
    align-items: center;
    display: flex;
    padding: 0px 20px;
}

.help-btn{
    background: url('../../img/Sprites.64af8f61.svg') no-repeat -89px -145px;
	width: 24px;
	height: 24px;
    margin-right: 6px;
    cursor: pointer;
}

.close-btn{
    background: url('../../img/Sprites.64af8f61.svg') no-repeat -144px -144px;
	width: 24px;
	height: 24px;
    cursor: pointer;
}

.dialog-header-btn{
    display: flex;
    height: 100%;
    width: calc(100% - 821px);
    padding: 12px;
    box-sizing: border-box;
}
.dialog-main-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: calc(100% - 73px);
    padding: 0px 32px 32px;
    box-sizing: border-box;
}
.group-input-1{
    width: 100%;
    display: flex;
    padding-bottom: 32px;
}
.group-input-left{
    width: 50%;
    padding-right: 26px;
    box-sizing: border-box;
}
.row-input{
    display: flex;
}
.input-code{
    width: 150px;
    padding-right: 6px;
    box-sizing: border-box;
}

.input-date{
    padding-right: 16px;
}

.group-input-right{
    width: 50%;
}

.group-input-2{
    margin-top: 12px;
}
.dialog-footer{
    margin-top: auto;
    width: 100%;
    height: 56px;
    border-top: 1px solid #e0e0e0;
}


.footer-btn{
    display: flex;
    height: 36px;
    margin-top: 20px;
}
.footer-btn-container{
    margin-left: auto;
    display: flex;
}